Repository vmware-tanzu/tanzu-framework, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners, @vmware-tanzu/tkg-iam-owners, @vmware-tanzu/carvel-writers, @prkalle, @vmware-tanzu/tanzu-framework-lcm-reviewers, @vmware-tanzu/tanzu-framework-docs, @vmware-tanzu/tkg-infra-x, @vmware-tanzu/ako-owners, @vmware-tanzu/tanzu-framework-release-team, @vmware-tanzu/tanzu-framework-ui-reviewers, @vmware-tanzu/tanzu-framework-api-machinery-owners

Vendir capabilities and featuregates CRDs locally
  hack/verify-dirty.sh
  packages/capabilities/bundle/config/upstream/crds/run.tanzu.vmware.com_capabilities.yaml
  packages/capabilities/vendir.lock.yml
  packages/capabilities/vendir.yml
  packages/featuregates/bundle/config/upstream/crds/config.tanzu.vmware.com_featuregates.yaml
  packages/featuregates/bundle/config/upstream/crds/config.tanzu.vmware.com_features.yaml
  packages/featuregates/bundle/config/upstream/feature-crd.yaml
  packages/featuregates/bundle/config/upstream/featuregate-crd.yaml
  packages/featuregates/vendir.lock.yml
  packages/featuregates/vendir.yml
  packages/tanzu-auth/vendir.lock.yml
  packages/tanzu-auth/vendir.yml
  packages/tkg-storageclass/vendir.lock.yml
  packages/tkg-storageclass/vendir.yml
  packages/tkr-source-controller/vendir.lock.yml
  packages/tkr-source-controller/vendir.yml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-api-machinery-owners, @vmware-tanzu/tkg-iam-owners

Vendir capabilities and featuregates CRDs locally
  hack/verify-dirty.sh
  packages/capabilities/bundle/config/upstream/crds/run.tanzu.vmware.com_capabilities.yaml
  packages/capabilities/vendir.lock.yml
  packages/capabilities/vendir.yml
  packages/featuregates/bundle/config/upstream/crds/config.tanzu.vmware.com_featuregates.yaml
  packages/featuregates/bundle/config/upstream/crds/config.tanzu.vmware.com_features.yaml
  packages/featuregates/bundle/config/upstream/feature-crd.yaml
  packages/featuregates/bundle/config/upstream/featuregate-crd.yaml
  packages/featuregates/vendir.lock.yml
  packages/featuregates/vendir.yml
  packages/tanzu-auth/vendir.lock.yml
  packages/tanzu-auth/vendir.yml
  packages/tkg-storageclass/vendir.lock.yml
  packages/tkg-storageclass/vendir.yml
  packages/tkr-source-controller/vendir.lock.yml
  packages/tkr-source-controller/vendir.yml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-api-machinery-owners, @vmware-tanzu/tkg-iam-owners

Remove feature-gate validation for TKGS cluster and make it based on vSphere version
  pkg/v1/tkg/clusterclient/clusterclient.go
  pkg/v1/tkg/fakes/clusterclient.go
  pkg/v1/tkg/tkgctl/featuregate_helper.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

validate workload cluster existence (#2987)
  pkg/v1/tkg/client/cluster.go
  pkg/v1/tkg/constants/cluster_internal.go
  pkg/v1/tkg/tkgctl/create_cluster.go
  pkg/v1/tkg/tkgctl/create_cluster_test.go
  pkg/v1/tkg/tkgctl/get_cluster.go
  pkg/v1/tkg/tkgctl/get_cluster_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

Add single quote to ca cert related preKubeadmCommands to make sure whole command is executed
  packages/tkg-clusterclass-aws/bundle/config/upstream/base.yaml
  packages/tkg-clusterclass-azure/bundle/config/upstream/base.yaml
  packages/tkg-clusterclass-vsphere/bundle/config/upstream/base.yaml
  pkg/v1/providers/infrastructure-aws/v1.2.0/cconly/base.yaml
  pkg/v1/providers/infrastructure-azure/v1.4.0/cconly/base.yaml
  pkg/v1/providers/infrastructure-vsphere/v1.3.1/cconly/base.yaml
  pkg/v1/providers/ytt/03_customizations/http_proxy_ca_cert.yaml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers, @vmware-tanzu/tkg-infra-x

Support multiple default allowed registry for plugin downloads (#2977)
  Makefile
  pkg/v1/cli/pluginmanager/manager_test.go
  pkg/v1/config/defaults.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

Modified capabilties API to a generic call
  pkg/v1/sdk/capabilities/discovery/tkg/capabilities.go
  pkg/v1/sdk/capabilities/discovery/tkg/capabilities_test.go
  pkg/v1/sdk/capabilities/discovery/tkg/fake.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-api-machinery-owners

CODEOWNERS:

* @vmware-tanzu/tanzu-framework-reviewers
/addons @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/addons/pinniped @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/cmd/cli @vmware-tanzu/tanzu-framework-reviewers
/cmd/cli/plugin/package @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/package/kctrl @vmware-tanzu/carvel-writers
/cmd/cli/plugin/pinniped-auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/cmd/cli/plugin/secret @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/docs @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners @vmware-tanzu/tkg-addons-owners @vmware-tanzu/tanzu-framework-lcm-reviewers @vmware-tanzu/tanzu-framework-docs
/pkg/v1/auth/tkg @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/cli @vmware-tanzu/tanzu-framework-reviewers
/pkg/v1/providers @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers @vmware-tanzu/tkg-infra-x
/pkg/v1/providers/ytt/02_addons/auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/providers/ytt/02_addons/avi @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/ako-owners
/pkg/v1/providers/ytt/03_customizations/02_avi @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/ako-owners
/pkg/v1/tkg @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers
/pkg/v1/tkg/kappclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/test/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/tkgconfigpaths @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-release-team
/pkg/v1/tkg/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/tkgpackagedatamodel @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/web @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-ui-reviewers
/pkg/v1/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
# API Machinery related files
/apis/config @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/apis/run @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/pkg/v1/sdk @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/cmd/managers/capabilities @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/cmd/managers/featuregate @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/cmd/cli/plugin/feature @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/cmd/cli/plugin-admin/codegen @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/pkg/v1/codegen @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/pkg/v1/providers/ytt/02_addons/management-packages @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/hack/packages @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/docs/api-machinery @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
# Package owners. Add individual packages here if they need to be owned by a specific team.
/packages/featuregates @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
/packages/tanzu-auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/packages/addons-manager @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/packages/capabilities @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-api-machinery-owners
