Repository vmware-tanzu/tanzu-framework, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners, @vmware-tanzu/tkg-iam-owners, @Anuj2512, @prkalle, @miclettej, @vmware-tanzu/tanzu-framework-lcm-reviewers, @XudongLiuHarold, @iXinqi, @vmware-tanzu/tanzu-framework-release-team

fix ako account permission for ingressclasses
  pkg/v1/providers/ytt/03_customizations/02_avi/ako-deployment.lib.yaml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @XudongLiuHarold, @iXinqi

Update BoM retrieval version to v0.8.0 (#929)
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-release-team

Update BoM retrieval version to v0.9.0-dev
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-release-team

.github/ISSUE_TEMPLATE: add IAM product area
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

Update BoM retrieval version to v0.9.0-dev (#930)
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-release-team

addons/pinniped/post-deploy: use stable cert-manager v1 APIs
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/utils/utils.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

.github/ISSUE_TEMPLATE: add IAM product area (#943)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

Update CLI style guide
  docs/cli/design_stage_styleguide_checklist.md
  docs/cli/style_guide.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

addons/pinniped/post-deploy: use stable cert-manager v1 APIs (#944)
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/utils/utils.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Update cluster name validation
  pkg/v1/tkg/client/cluster.go
  pkg/v1/tkg/client/validate.go
  pkg/v1/tkg/client/validate_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

Update CLI style guide
  docs/cli/design_stage_styleguide_checklist.md
  docs/cli/style_guide.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

addons/pinniped/post-deploy: Publish Pinniped API info for wl cluster
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/configure/helper.go
  addons/pinniped/post-deploy/pkg/configure/helper_test.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Add nodepool operations for TKGS providers (#905)
  cmd/cli/plugin/cluster/get_node_pools.go
  pkg/v1/tkg/client/client.go
  pkg/v1/tkg/client/machine_deployment.go
  pkg/v1/tkg/client/machine_deployment_test.go
  pkg/v1/tkg/client/pacific_cluster.go
  pkg/v1/tkg/clusterclient/clusterclient.go
  pkg/v1/tkg/fakes/client.go
  pkg/v1/tkg/fakes/clusterclient.go
  pkg/v1/tkg/tkgctl/interface.go
  pkg/v1/tkg/tkgctl/machine_deployment.go
  pkg/v1/tkg/tkgctl/pacific_cluster.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @Anuj2512, @vmware-tanzu/tanzu-framework-lcm-reviewers

addons/pinniped/post-deploy: Publish Pinniped API info for wl cluster (#934)
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/configure/helper.go
  addons/pinniped/post-deploy/pkg/configure/helper_test.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

addons/pinniped/post-deploy: support cluster-scoped concierge
  addons/pinniped/post-deploy/main.go
  addons/pinniped/post-deploy/pkg/configure/concierge/concierge_test.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge_test.go
  addons/pinniped/post-deploy/pkg/vars/vars.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Fixes nil pointer dereference when adding new feature flag to config
  pkg/v1/config/clientconfig.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

addons/pinniped/post-deploy: support cluster-scoped concierge (#949)
  addons/pinniped/post-deploy/main.go
  addons/pinniped/post-deploy/pkg/configure/concierge/concierge_test.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge_test.go
  addons/pinniped/post-deploy/pkg/vars/vars.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Fixes nil map assignment
  pkg/v1/config/clientconfig.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

Fixes nil map assignment
  config/crd/bases/config.tanzu.vmware.com_clientconfigs.yaml
  pkg/v1/config/clientconfig.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

Adds default feature flags (when missing) to config file (#935)
  config/crd/bases/config.tanzu.vmware.com_clientconfigs.yaml
  pkg/v1/config/clientconfig.go
  pkg/v1/config/clientconfig_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

Implements feature flags via local config file
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/vsphere-wizard.component.html
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

Sets feature flag to true for export-from-confirm
  pkg/v1/config/clientconfig.go
  pkg/v1/tkg/tkgconfigupdater/save.go
  pkg/v1/tkg/web/server/handlers/export.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

Tweaks ContextAwareDiscovery to allow more generic feature flags to use methods
  pkg/v1/cli/catalog/catalog_test.go
  pkg/v1/cli/command/core/plugin_manager.go
  pkg/v1/config/clientconfig.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @miclettej, @Anuj2512

Deploy ako in bootstrap cluster with tanzu-framework (#821)
  pkg/v1/providers/ytt/03_customizations/02_avi/add-ako.yaml
  pkg/v1/providers/ytt/03_customizations/02_avi/add_akoo.yaml
  pkg/v1/providers/ytt/03_customizations/02_avi/ako-deployment.lib.yaml
  pkg/v1/providers/ytt/03_customizations/02_avi/ako-operator-deployment.lib.yaml
  pkg/v1/providers/ytt/03_customizations/02_avi/static.lib.yaml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @XudongLiuHarold, @iXinqi

Adds default feature flags (when missing) to config file (#935)
  config/crd/bases/config.tanzu.vmware.com_clientconfigs.yaml
  pkg/v1/config/clientconfig.go
  pkg/v1/config/clientconfig_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers

.github/ISSUE_TEMPLATE: add IAM product area (#943)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

addons/pinniped/post-deploy: support cluster-scoped concierge (#949)
  addons/pinniped/post-deploy/main.go
  addons/pinniped/post-deploy/pkg/configure/concierge/concierge_test.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge.go
  addons/pinniped/post-deploy/pkg/pinnipedclientset/concierge_test.go
  addons/pinniped/post-deploy/pkg/vars/vars.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Update CLI style guide
  docs/cli/design_stage_styleguide_checklist.md
  docs/cli/style_guide.md
Owners: @vmware-tanzu/tanzu-framework-reviewers

addons/pinniped/post-deploy: use stable cert-manager v1 APIs (#944)
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/utils/utils.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

addons/pinniped/post-deploy: Publish Pinniped API info for wl cluster (#934)
  addons/pinniped/post-deploy/pkg/configure/configure.go
  addons/pinniped/post-deploy/pkg/configure/configure_test.go
  addons/pinniped/post-deploy/pkg/configure/helper.go
  addons/pinniped/post-deploy/pkg/configure/helper_test.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor.go
  addons/pinniped/post-deploy/pkg/configure/supervisor/supervisor_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Update BoM retrieval version to v0.9.0-dev (#930)
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-release-team

Add nodepool operations for TKGS providers (#905)
  cmd/cli/plugin/cluster/get_node_pools.go
  pkg/v1/tkg/client/client.go
  pkg/v1/tkg/client/machine_deployment.go
  pkg/v1/tkg/client/machine_deployment_test.go
  pkg/v1/tkg/client/pacific_cluster.go
  pkg/v1/tkg/clusterclient/clusterclient.go
  pkg/v1/tkg/fakes/client.go
  pkg/v1/tkg/fakes/clusterclient.go
  pkg/v1/tkg/tkgctl/interface.go
  pkg/v1/tkg/tkgctl/machine_deployment.go
  pkg/v1/tkg/tkgctl/pacific_cluster.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @Anuj2512, @vmware-tanzu/tanzu-framework-lcm-reviewers

Update BoM retrieval version to v0.8.0 (#929)
  pkg/v1/tkg/tkgconfigpaths/zz_bundled_default_bom_files_configdata.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-release-team

remove the OPTIONAL label from both Username and Filter for LDAP user search.
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/identity-step/identity-step.component.html
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/identity-step/identity-step.component.ts
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

Tweaks ContextAwareDiscovery to allow more generic feature flags to use methods (#951)
  pkg/v1/cli/catalog/catalog_test.go
  pkg/v1/cli/command/core/plugin_manager.go
  pkg/v1/config/clientconfig.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @miclettej, @Anuj2512

udpate namespace usage in package install cmd
  cmd/cli/plugin/package/package_install.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners

auto populate defaults when there's only a single choice
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/node-setting-step/node-setting-step.component.html
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/node-setting-step/node-setting-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/provider-step/aws-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/vpc-step/vpc-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/node-setting-step/node-setting-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/provider-step/azure-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/vnet-step/vnet-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/provider-step/vsphere-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/resource-step/resource-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/network-step/network-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/os-image-step/os-image-step.component.ts
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

cmd/cli/plugin/pinniped-auth: embed v0.4.4 and v0.12.0 pinniped cli
  Makefile
  cmd/cli/plugin/pinniped-auth/asset/pinniped
  cmd/cli/plugin/pinniped-auth/login.go
  cmd/cli/plugin/pinniped-auth/login_test.go
  cmd/cli/plugin/pinniped-auth/main.go
  cmd/cli/plugin/pinniped-auth/testdata/fake-pinniped-cli.sh
  hack/embed-pinniped-binary.sh
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

cmd/cli/plugin/pinniped-auth: pass stdin to pinniped cli
  cmd/cli/plugin/pinniped-auth/login.go
  cmd/cli/plugin/pinniped-auth/login_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

Extend CABPK timeout to 30m to account for etcd cluster settling in vSphere environments.
  pkg/v1/providers/bootstrap-kubeadm/v0.3.23/bootstrap-components.yaml
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers, @Anuj2512

CODEOWNERS:

* @vmware-tanzu/tanzu-framework-reviewers
/addons @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/addons/pinniped @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/cmd/cli @vmware-tanzu/tanzu-framework-reviewers @Anuj2512
/cmd/cli/plugin/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/cli @vmware-tanzu/tanzu-framework-reviewers @miclettej @Anuj2512
/pkg/v1/providers @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers @Anuj2512
/pkg/v1/providers/ytt/02_addons/auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/providers/ytt/02_addons/avi @vmware-tanzu/tanzu-framework-reviewers @XudongLiuHarold @iXinqi
/pkg/v1/providers/ytt/03_customizations/02_avi @vmware-tanzu/tanzu-framework-reviewers @XudongLiuHarold @iXinqi
/pkg/v1/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/tkg @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers
/pkg/v1/tkg/tkgpackagedatamodel @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/kappclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/test/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/package @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/secret @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/pinniped-auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/tkg/tkgconfigpaths @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-release-team
