Repository vmware-tanzu/tanzu-framework, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners, @vmware-tanzu/tkg-iam-owners, @Anuj2512, @prkalle, @miclettej, @vmware-tanzu/tanzu-framework-lcm-reviewers, @XudongLiuHarold, @iXinqi, @vmware-tanzu/tanzu-framework-release-team

add secret plugin to the default plugin list
  pkg/v1/cli/defaults.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @miclettej, @Anuj2512

udpate namespace usage in package install cmd (#939)
  cmd/cli/plugin/package/package_install.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners

add secret plugin to the default plugin list (#957)
  pkg/v1/cli/defaults.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @miclettej, @Anuj2512

Change UI text per discussion w/mcwumbly
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/provider-step/vsphere-provider-step.component.html
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

auto populate defaults when there's only a single choice (#919)
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/node-setting-step/node-setting-step.component.html
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/node-setting-step/node-setting-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/provider-step/aws-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/aws-wizard/vpc-step/vpc-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/node-setting-step/node-setting-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/provider-step/azure-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/azure-wizard/vnet-step/vnet-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/provider-step/vsphere-provider-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/vsphere-wizard/resource-step/resource-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/network-step/network-step.component.ts
  pkg/v1/tkg/web/src/app/views/landing/wizard/shared/components/steps/os-image-step/os-image-step.component.ts
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

cmd/cli/plugin/pinniped-auth: pass stdin to pinniped cli
  cmd/cli/plugin/pinniped-auth/login.go
  cmd/cli/plugin/pinniped-auth/login_test.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

cmd/cli/plugin/pinniped-auth: embed v0.4.4 and v0.12.0 pinniped cli
  Makefile
  cmd/cli/plugin/pinniped-auth/asset/pinniped
  cmd/cli/plugin/pinniped-auth/login.go
  cmd/cli/plugin/pinniped-auth/login_test.go
  cmd/cli/plugin/pinniped-auth/main.go
  cmd/cli/plugin/pinniped-auth/testdata/fake-pinniped-cli.sh
  hack/embed-pinniped-binary.sh
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-iam-owners

remove deprecated config show command
  pkg/v1/cli/command/core/config.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @miclettej, @Anuj2512

Value for ext.packaging.carvel.dev/ytt-data-values-overlays annotation should be empty
  addons/controllers/package_reconciler.go
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tkg-addons-owners

update UI messaging per review comments
  pkg/v1/tkg/web/src/app/views/landing/docker-wizard/daemon-validation-step/daemon-validation-step.component.html
  pkg/v1/tkg/web/src/styles.scss
Owners: @vmware-tanzu/tanzu-framework-reviewers, @vmware-tanzu/tanzu-framework-lcm-reviewers

CODEOWNERS:

* @vmware-tanzu/tanzu-framework-reviewers
/addons @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/addons/pinniped @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/cmd/cli @vmware-tanzu/tanzu-framework-reviewers @Anuj2512
/cmd/cli/plugin/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/cli @vmware-tanzu/tanzu-framework-reviewers @miclettej @Anuj2512
/pkg/v1/providers @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers @Anuj2512
/pkg/v1/providers/ytt/02_addons/auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/providers/ytt/02_addons/avi @vmware-tanzu/tanzu-framework-reviewers @XudongLiuHarold @iXinqi
/pkg/v1/providers/ytt/03_customizations/02_avi @vmware-tanzu/tanzu-framework-reviewers @XudongLiuHarold @iXinqi
/pkg/v1/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/tkg @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-lcm-reviewers
/pkg/v1/tkg/tkgpackagedatamodel @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/kappclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/pkg/v1/tkg/test/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/package @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/secret @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-addons-owners
/cmd/cli/plugin/pinniped-auth @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tkg-iam-owners
/pkg/v1/tkg/tkgconfigpaths @vmware-tanzu/tanzu-framework-reviewers @vmware-tanzu/tanzu-framework-release-team
